::selection {
  background: rgba(255,255,255,.01);
  opacity: 1;
}
h1{
  color: #181818;
	font-family: 'Roboto', sans-serif;
  font-weight: 700;
	font-size: 35px;
	line-height: 42px;
	margin-bottom: 25px;
	margin-top: 50px;
  letter-spacing: 1px;
}
h2{
  color: #181818;
	font-family: 'Roboto', sans-serif;
  font-weight: 300;
	font-size: 22px;
  font-style: italic;
	line-height: 20px;

}
h3{
  color: #181818;
	font-family: 'Roboto', sans-serif;
  font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 12px;
	margin-top: 25px;
  letter-spacing: 1px;
}
h4{
  color: #181818;
	font-family: 'Roboto', sans-serif;
  font-weight: 600;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 25px;
	margin-top: 25px;
  letter-spacing: 4px;
}
h5{
  color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
  font-weight: 300;
	line-height: 20px;
	margin-bottom: 25px;
	margin-top: 50px;
}
h6{
  color: #181818;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
  font-weight: 300i;
	line-height: 20px;
	margin-bottom: 25px;
	margin-top: 50px;
}
p{
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  color: #f0533e;
  transition: ease all .3s;
  &:hover {
    color: #F29487;
  }
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  & li {
    font-weight: 300;
    line-height: 35px;
    &::before {
      content: "•";
      padding-right: 20px;
      color: rgba(0,0,0,.5);
    }
  }
}
@media (min-width: 500px) {
  p {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 62px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
  h3 {
    font-size: 30px;
    line-height: 38px;
  }
  h4, h5 {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
  }
}
