#menu-main-menu {
	padding: 0;
	& li {
	letter-spacing: 4px;
	font-weight: 500;
		&::before {
			content: '';
			padding: 0;
		}
		& a {
			color: #181818;
			font-weight: 300;
			&:hover {
				color: #808285;
			}
		}
	}
	& .nav-letter {
		color: #181818;
	}
}
.menu-main-menu-container {
	max-width: 1600px;
	margin: 16px auto;
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: #fff;
	text-align: center;
}
.menu {
	margin: 0 16px;
	text-align: center;
	display: block;
}
.no-link {
	display: none;
}
.main-menu-toggle {
	margin: 16px;
}
.bar {
	width: 25px;
  height: 2px;
  background-color: #f0533e;
  margin: 4px auto;
}
.menu-main-menu-container::after {
	content: '';
	display: block;
	margin: 0 16px;
	border-bottom: solid 1px #f0533e;
	@media (min-width: 768px) {
		margin: 0 48px;
	}
}
.nav-letter {
	position:relative;
	top:0;
	transition: .35s;
	color: #f0533e;
	letter-spacing: 4px;
	font-weight: 300;
}
.nav-letter.first, .nav-letter.last {
 font-weight: 500;
}
.no-link{
	cursor: default;
}
.move {
	letter-spacing: 14px;
}
@media (min-width: 768px) {
	.menu-main-menu-container {
		text-align: initial;
		& .main-menu-toggle {
			display: none;
		}
		& .menu {
			display: flex!important;
		  justify-content: space-between;
		  list-style: none;
			margin: 16px 48px;
		}
	}
	.no-link {
		display: block;
	}
	.hide {
		display: block;
	}
}
